<section class = "Index">
<div>
    <p>Bienvenidos a la mejor web de info</p>
    <form action='@Url.Action("LogIn", "Home")' method ="post">
    <h2>Email:</h2>
    <input type = "email" name = "email" required>
    <h2>Contraseña:</h2>
    <input type = "password" name = "contrasena" required>

    <input type="submit" name = "enviar">
    </form>
</div>
</section>
